@use "../../theme" as *;
.input--main--container {
  padding: 15px 12px;
  background-color: white;
  border-radius: 7px;
  border: 1px solid $grey-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 52px;
  transition: all 0.3s;
  .input--placeholder {
    max-height: 0;
    opacity: 0;
    transition: all 0.3s;
    visibility: hidden;
  }
  span {
    color: grey;
    font-size: 12px;
  }
  input[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &:has(input:focus) {
    border-color: black;
    box-shadow: inset 0 0 0 1px black;
  }
  &.dirty {
    .input--placeholder {
      max-height: 12px;
      margin-bottom: 5px;
      opacity: 1;
      visibility: visible;
    }
  }
}
