//Colors
$primary--color: rgb(0, 98, 128);
$secondary--color: rgb(19, 19, 19);
$tertiary--color: #f1f1f1;
$quartery--color: rgb(223, 223, 223);
$fifth--color: #ffffff;
$text-danger: #dd1d1d;
$grey-color: grey;
