@use "../../theme.scss" as *;

.navbar--main--container {
  width: 100%;
  background-color: $fifth--color;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  height: 85px;
  .navbar--content--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo--image--container {
      color: $primary--color;
    }
    ul {
      display: flex;
      gap: 50px;
      li {
        position: relative;
        display: flex;
        padding: 10px;
        cursor: pointer;
        a {
          color: $secondary--color;
        }
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.2s linear;
          content: "";
          width: 0;
          height: 3px;
          background-color: $primary--color;
        }
        &:hover,
        &.active {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  &.sticky {
    background-color: transparent;
    backdrop-filter: blur(20px);
    opacity: 1;
    position: fixed;
    animation: appeareance linear 0.5s;
    z-index: 13;
    left: 0;
    right: 0;
    top: 0;
  }
}

@keyframes appeareance {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
