form {
  display: grid;
  margin-top: 20px;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  .recipe--form--primary--info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .recipe--form--secondary--info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .ingredients--list--container {
      max-height: 200px;
      display: flex;
      flex-direction: column;
      padding-right: 5px;
      gap: 20px;
      overflow-y: scroll;
    }
  }
}

.inputs--group {
  display: flex;
  gap: 20px;
}
