.ingredient--input--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.2fr;
  align-items: center;
  gap: 20px;
  p {
    border: 1px solid grey;
    padding: 16px;
    font-size: 14px;
    border-radius: 8px;
  }
  .ingredient--delete--option {
    background-color: rgb(211, 7, 7);
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 100%;
    color: white;
  }
}
